[Desktop Entry]
Encoding=UTF-8
Icon=text-html
Name[en_US]=آموزش هیدیفای‌نکست فارسی لینوکس
Name=آموزش هیدیفای‌نکست فارسی لینوکس
Type=Link
URL=https://github.com/KUAILESHANGWEI/hiddify-app/releases/latest
